:root {
  --dark-primary: rgb(22, 22, 26);
  --dark-secondary: #242629;

  --dark-headline: #fffffe;
  --dark-paragraph: #94a1b2;

}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: var(--dark-paragraph);
  background-color: var(--dark-primary);
}

a {
  color: #00B7FF;
}

.dark-primary {
  background-color: var(--dark-primary);
}

.dark-secondary {
  background-color: var(--dark-secondary);
}

/* TRENDING */

#since-drop,
#type-drop,
#lang-drop {
  background-color: #202225 !important;
  color: var(--dark-paragraph) !important;
  border: none !important;
  outline: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  width: 12rem;
}

.trend-divs {
  width: 325px;
  display: inline-block;
  text-align: left;
  background-color: #202225;
  color: #94a1b2;
  padding: 1rem;
  margin: 1rem 1rem;
  border-radius: .1rem;
  -webkit-box-shadow: 5px 5px #2f3136;
  box-shadow: 5px 5px #2f3136;
  transition: transform .3s;
}

.trend-divs:hover {
  transform: scale(1.06);
}

.spacing {
  margin: .8rem 0 !important;
}

.text-limit {
  display: block;
  width: auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.rank {
  color: #e53170;
  font-weight: bold;
  float: right;
}

.link-icon {
  display: inline;
  padding: .8rem 1rem 0 0;

}

/* MOBILE */
@media only screen and (max-width: 991px) {

  .trend-divs {
    width: 94%;
    margin-right: 0;
    margin-left: 0;
  }

}