:root {
  --dark-primary: rgb(22, 22, 26);
  --dark-secondary: #242629;

  --dark-headline: #fffffe;
  --dark-paragraph: #94a1b2;

}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: var(--dark-paragraph);
  background-color: var(--dark-primary);
}

a {
  color: #00B7FF;
}

.dark-primary {
  background-color: var(--dark-primary);
}

.dark-secondary {
  background-color: var(--dark-secondary);
}

/* TRENDING */

.drop-menus {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 196px;
  height: 48px;
  font-size: 100%;
  font-weight: bold;
  cursor: pointer;
  border-radius: 0;
  background-color: #202225;
  border: none;
  border-bottom: 2px solid #e53170;
  color: var(--dark-paragraph);
  padding: 10px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 10px;
  outline: none;
}

.drop-menus:hover {
color: #e53170;
}

/* For IE <= 11 */
.drop-menu::-ms-expand {
  display: none;
}

.trend-divs {
  width: 325px;
  display: inline-block;
  text-align: left;
  background-color: #202225;
  color: #94a1b2;
  padding: 1rem;
  margin: 1rem 1rem;
  border-radius: .1rem;
  -webkit-box-shadow: 5px 5px #2f3136;
  box-shadow: 5px 5px #2f3136;
  transition: transform .3s;
}

.trend-divs:hover {
  transform: scale(1.06);
}

.spacing {
  margin: .8rem 0 !important;
}

p {
  line-height: 1.4em;
}

.text-limit {
  display: block;
  width: auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.rank {
  color: #e53170;
  font-weight: bold;
  float: right;
}

.link-icon {
  display: inline-block;
  padding: 0 1rem 0 0;
  line-height: 1.4rem;
  margin-bottom: 0;
}

.link {
  padding: 0;
  float: right;
}

/* MOBILE */
@media only screen and (max-width: 991px) {

  .trend-divs {
    width: 94%;
    margin-right: 0;
    margin-left: 0;
  }

}